html{
	font-family : Arial;
}

h1{
	background-color: #FF5AD1;
	padding : 5% 0 5% 10%;
	Color : white;
	box-shadow : 1px 1px 3px #999;
	font-family : Bradley Hand;
}

.intro{
	border-width : 1px;
	border-style : solid;
	border-color : black;
	padding : 3%;
	margin : 5% 15% 3% 15%;
	box-shadow : 1px 1px 3px #999;
	background-color : #FFF1FB;
	text-align : center;
}

.intro1{
	margin : 5% 0 3% 0;
	padding : 10%;
	text-align : center;
}

p{
	font-weight : bold;
}

.intro p{
	margin-bottom : 50px;
}

.id{
	margin-bottom : 10px;
}

.mdp{
	margin-bottom : 50px;
}

.bouton{
	padding : 6px;
	background-color : #FFBFED;
	color : black;
	border-radius : 2px;
	width : 100px;
	border : 1px solid #ccc;
	box-shadow : 1px 1px 3px #999;
	text-decoration : none;
}

.bouton:hover {
  background-color: #FF5AD1; 
}

.bouton1{
	padding : 10%;
	background-color : #FFBFED;
	color : black;
	border-radius : 2px;
	width : 100px;
	border : 1px solid #ccc;
	box-shadow : 1px 1px 3px #999;
	text-decoration : none;
}

.bouton1:hover {
  background-color: #FF5AD1; 
}

.tout{
	text-align : center;
}

.texte{
	display : inline-block;
}

.compte{
	display : inline-block;
}

footer{
	opacity : 0.8;
    color: #FFF;
    text-align: center;
	font-size : 10 px;
    background-color: grey;
	position:fixed;
	width : 100%;
	padding-bottom : 7px;
	padding-top : 0px;
	bottom: 0;
}